# Gradle files
.gradle/
build/

# IntelliJ IDEA
.idea/

# VS Code settings
.vscode/

# Mac OS system files
.DS_Store

# Logs
*.log
application.log

# Compiled Java files
*.class

# Jar and War files
*.jar

*.war
